<div>
    <md-content layout-padding>

        <form layout="row" layout-align="start center" layout-padding layout-wrap ng-submit="submitBooking()">
            <md-input-container flex="100">
                <label>
                    Espace
                </label>
                <md-select ng-model="booking.space_slug">
                    <md-option ng-repeat="space in spaces | filter:{active:true}" value="{{ space.slug }}">
                        {{ space.name }}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex="33">
                <label>
                    <i class="fa fa-users"></i> Nombre de personnes
                </label>
                <input ng-model="booking.user_count" ng-required min="1" pb-max="capacities[booking.space_slug]"
                       type="number">
            </md-input-container>

            <md-input-container flex="33">
                <md-radio-group ng-model="booking.object" flex="100" layout="row">
                    <md-radio-button value="solo" flex="50">Travail individuel</md-radio-button>
                    <md-radio-button value="group" flex="50">Travail de groupe</md-radio-button>
                </md-radio-group>
            </md-input-container>

            <md-input-container flex="33">
                <label>
                    Type de travail
                </label>
                <md-select ng-model="booking.work_type">
                    <md-option ng-repeat="(key, val) in enums.work_type" value="{{ key }}">{{ val }}</md-option>
                </md-select>
            </md-input-container>

            <md-datepicker ng-model="booking.date" md-date-filter="" flex="40"></md-datepicker>

            <md-input-container flex="15">
                <label>
                    Heure de début
                </label>
                <input ng-model="booking.start_hour" ng-required min="8" max="22" type="number">
            </md-input-container>

            <md-input-container flex="15">
                <label>
                    Minutes
                </label>
                <input ng-model="booking.start_minute" ng-required min="0" max="45" step="15" type="number">
            </md-input-container>

            <md-input-container flex="15">
                <label>
                    Heure de fin
                </label>
                <input ng-model="booking.end_hour" ng-required min="8" max="22" type="number">
            </md-input-container>

            <md-input-container flex="15">
                <label>
                    Minutes
                </label>
                <input ng-model="booking.end_minute" ng-required min="0" max="45" step="15" type="number">
            </md-input-container>


            <md-input-container flex="50" ng-if="$root.isModo">
                <label>
                    Au nom de ...
                </label>
                <md-autocomplete
                        md-selected-item="booking.booker"
                        md-search-text="searchText"
                        md-items="foundUser in searchResults"
                        md-search-text-change="getUsers(searchText)"
                        md-item-text="foundUser.name"
                >
                    <md-item-template>
                        <span md-highlight-text="searchText">{{ foundUser.name }}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found.
                    </md-not-found>
                </md-autocomplete>
            </md-input-container>

            <div flex="100" layout="row" layout-align="end center">
                <div flex="15" flex-md="25">
                    <md-button type="submit" class="md-primary md-raised md-large">{{submitButton}}</md-button>
                </div>
            </div>
        </form>
    </md-content>
</div>
<!-- TODO erreurs -->

