<div>
    <md-content layout-padding>
        <form layout="row" layout-align="start center" layout-wrap ng-submit="submitBooking(booking)">
            <md-input-container flex="50">
                <label>
                    Espace
                </label>
                <md-select ng-model="booking.space_slug">
                    <md-option ng-repeat="space in spaces | filter:{active:true}" value="{{space.slug}}">{{space.name}}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex="50">
                <label>
                    <i class="fa fa-users"></i> Nombre de personnes
                </label>
                <input ng-model="booking.user_count" ng-required min="1" max="10" type="number">
            </md-input-container>

            <md-input-container flex="50">
                <md-radio-group ng-model="booking.object" flex="100" layout="row">
                    <md-radio-button value="solo" flex="50">Travail individuel</md-radio-button>
                    <md-radio-button value="group" flex="50">Travail de groupe</md-radio-button>
                </md-radio-group>
            </md-input-container>

            <md-input-container flex="50">
                <label>
                    Type de travail
                </label>
                <md-select ng-model="booking.work_type">
                    <md-option ng-repeat="type in types" value="{{type.slug}}">{{type.name}}</md-option>
                </md-select>
            </md-input-container>

            <div flex="50">
                <label>
                    Date de début
                </label>
                <time-date-picker ng-model="booking.start_date"></time-date-picker>
            </div>

            <div flex="50">
                <label>
                    Date de fin
                </label>
                <time-date-picker ng-model="booking.end_date"></time-date-picker>
            </div>

            <div flex="100" layout="row" layout-align="end center">
                <md-button flex="15" class="md-primary md-raised">{{submitButton}}</md-button>
            </div>
        </form>
    </md-content>
</div>
<!-- TODO erreurs -->

