<div layout="row" layout-align="start center" layout-wrap layout-padding>

    <label>
        Date de début
    </label>
    <md-datepicker flex ng-model="date" ng-change="update()"></md-datepicker>

    <md-input-container flex="20">
        <label>
            Heure de début
        </label>
        <input ng-model="hours" ng-required min="0" max="23" type="number">
    </md-input-container>

    <md-input-container flex="20">
        <label>
            Heure de début
        </label>
        <input ng-model="minutes" ng-required min="0" max="45" step="15" type="number">
    </md-input-container>
</div>
