<div layout="column" layout-padding>
    <div layout="row">
        <div flex="20">
            <md-button class="md-primary md-raised md-large" ng-if="$root.isAdmin" ui-sref="root.spaces.create">
                Créer un espace
            </md-button>
        </div>
    </div>

    <div layout="row" layout-wrap>
        <div flex="33" ng-repeat="space in spaces" ng-if="$root.isAdmin || space.active">
            <md-card>
                <div ui-sref="root.spaces.simple({slug: space.slug})" style="cursor: pointer">
                    <img ng-src="{{ space.image_url ? (space.image_url | urlFile) : 'imgs/lol.jpeg'  }}"
                         class="md-card-image" alt="{{space.name}}">

                    <md-card-content>
                        <h3 class="md-title">{{ space.name }}</h3>
                    </md-card-content>
                </div>
            </md-card>
        </div>
    </div>
</div>

