<div layout="colum" layout-margin layout-align="center center" class="full-height">
    <md-content class="md-whiteframe-z3" flex="40" flex-sm="100" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>
                    <md-icon md-font-icon="fa-book" class="fa"></md-icon>
                    Bibliothèque
                </h1>
            </div>
        </md-toolbar>
        <div layout="column" layout-align="space-around center">
            <p><md-icon md-font-icon="fa-exclamation-triangle" class="fa"></md-icon> Erreur 500 : erreur fatale</p>
        </div>
    </md-content>
</div>
