<div>
    <md-content layout-padding>
        <form layout="row" layout-align="start center" layout-wrap ng-submit="submitBooking(booking)">
            <md-input-container flex="50" flex-md="25">
                <label>
                    Espace
                </label>
                <md-select ng-model="booking.space_slug">
                    <md-option ng-repeat="space in spaces" value="{{space.slug}}">{{space.name}}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex="50" flex-md="25">
                <label>
                    <i class="fa fa-users"></i> Nombre de personnes
                </label>
                <input ng-model="booking.user_count" ng-required min="1" type="number">
            </md-input-container>

            <md-input-container flex="100">
                <label>
                    <i class="fa fa-align-justify"></i> Objet de la réservation
                </label>
                <input ng-model="booking.reason" placeholder="Objet de la réservation" ng-required>
            </md-input-container>

            <div >
                <label>
                    <i class="fa fa-calendar"></i> Date de début
                </label>
                <md-datepicker flex="50" flex-md="25" ng-model="booking.start_date" md-placeholder="Date de début"></md-datepicker>
            </div>

            <div flex="100" layout="row" layout-align="end center">
                <md-button flex="15" flex-md="25" class="md-primary md-raised">{{submitButton}}</md-button>
            </div>
        </form>
    </md-content>
</div>
<!-- TODO erreurs -->

